@import "tailwindcss";

*{
    font-family: "Libre Baskerville", serif;
}

.thin-scrollbar::-webkit-scrollbar {
  height: 4px;   /* thickness */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* gray-300 */
  border-radius: 999px;
}